/* The * selector selects all elements. */
*{ 
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(40deg, rgba(0,0,0,1) 13%, rgba(62,133,44,1) 30%, rgba(9,78,10,1) 46%, rgba(78,164,56,1) 62%, rgba(106,185,87,1) 71%, rgba(0,0,0,1) 88%);
    min-height: 100vh;
    flex-direction: column;

    background: var(--body-bg-color);
}

.app{
    padding: 2rem;
    border-radius: 10%;
    box-shadow: var(--app-box-shadow);
    background-color: var(--app-bg-color);
    max-width: 430px;

}

.container h1{
    color: var(--h-color);
}

.container h2{
    color: var(--h-color);
}

.divider{
    height: 3px;
    width: auto;
    border-radius: 30%;
    margin: 20px;

    background-color: var(--divider-bg-color);
}

#newtodo{
    border-radius: 40px;
    font-size: 20px;
    padding: 1rem 1.5rem;
    outline: none;

    background-color: var(--newtodo-bg-color);
    color: var(--newtodo-color);
    border: var(--newtodo-border-color);


}

#newtodo::placeholder{
    color: var(--placeholder-color); 
}

#add-task{
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;

    color: var(--add-color);

}

form{
    display: flex;
    align-items: center;
}


#add-task:hover{
    font-size: 35px;
    cursor: pointer;
}


#todos-list{
    padding: .3rem;
    overflow: hidden;
}


#todos-list .todo:hover{
    background-color: var(--todo-hover-bg-color);
  }



.todo {
    display: flex;
    justify-content: space-between;
    padding: .3rem;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 8px;
    
    align-items: center;
    font-size: larger;
    max-width: 350px;


    background-color: var(--todo-bg-color);
    color: var(--todo-color);
    
}

.checked {
    text-decoration: line-through;
    color: grey;
  }


 .notification {
    width: 130px;
    height: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 5px;

    color: white;
  }



  #todos-list .todo p{
    width: 230px; 
    word-wrap: break-word;
    white-space: normal;
    margin: 0px;  
  }

  #todos-list .todo .bi-trash {
    color: var(--todo-color);
    cursor: pointer;
    margin-right: 0.5rem;

  }

  #todos-list .todo .bi-pencil-square {
    color: var(--todo-color);
    cursor: pointer;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  #todos-list .todo .bi-circle {
    cursor: pointer;
    margin-right: 0.2rem;
    color: var(--todo-color); 

  }

  #todos-list .todo .bi-check-circle-fill{
    cursor: pointer;
    margin-right: 0.2rem;
    color: var(--todo-color);
  }


.theme-btn {
    width: 3em;
    height: 3em;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
}


.theme-btn img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

:root, /* here i make my own variable names */
    :root.pink {
      --newtodo-bg-color: rgb(190, 72, 111);
      --newtodo-color: rgb(255, 43, 174);
      --newtodo-border-color: 1px hotpink solid;
      --h-color: rgb(255, 168, 209);
      --divider-bg-color:rgb(252, 107, 179, .5);
      --add-color:rgb(255, 91, 173);
      --placeholder-color: rgb(192, 127, 149);
      /* --body-bg-color: linear-gradient(40deg, rgb(71, 64, 66), 
        palevioletred, rgb(55, 53, 70)); */
        --body-bg-color: linear-gradient(40deg, rgba(0,0,0,1) 13%,
       rgb(212, 97, 135) 30%, palevioletred 46%, palevioletred
        62%, rgb(236, 126, 163) 71%, rgba(0,0,0,1) 88%);
       --app-bg-color: rgba(206, 40, 117, 0.4);
       --app-box-shadow: 0 0 5px 5px hotpink;
       --todo-bg-color: rgba(206, 40, 117, 0.5);
       --todo-color: rgb(243, 146, 194);
       --todo-hover-bg-color: rgba(173, 33, 99, 0.4);
       --scrollbar-width: .8vw;
       --scrollbar-border: 2px solid rgb(236, 52, 144);
       --scrollbar-thumb: rgb(236, 52, 144);
       --scrollbar-track: rgb(240, 116, 178);
       --scrollbar-button: rgb(236, 52, 144);
  

    }

   :root.green {
    --newtodo-bg-color: green;
    --newtodo-color: lime;
    --newtodo-border-color: 1px lime solid;
    --h-color: limegreen;
    --divider-bg-color:limegreen;
    --add-color:greenyellow;
    --placeholder-color: rgb(9, 95, 9);
    --body-bg-color: linear-gradient(40deg, rgba(0,0,0,1) 13%,
     rgba(62,133,44,1) 30%, rgba(9,78,10,1) 46%, rgba(78,164,56,1)
     62%, rgba(106,185,87,1) 71%, rgba(0,0,0,1) 88%);
     --app-bg-color: rgba(34, 30, 34, 0.3);
     --app-box-shadow: 0 0 5px 5px lime;
     --todo-bg-color: rgba(4, 161, 4, 0.2);
     --todo-color: rgb(8, 204, 8);
     --todo-hover-bg-color: rgba(5, 139, 5, 0.2);
     --scrollbar-width: .8vw;
     --scrollbar-border: 2px solid green;
     --scrollbar-thumb: green;
     --scrollbar-track:limegreen;
     --scrollbar-button: green;


    }


  .theme-btn.pink {
      display: none;
    }

  .green .theme-btn.pink {
      display: block;
    }

  .green .theme-btn.green {
      display: none;
    }



/*CUSTOM SCROLL BAR */
html::-webkit-scrollbar{
  width: var(--scrollbar-width);
  border: var(--scrollbar-border);
}


html::-webkit-scrollbar-thumb{
  background-color: var(--scrollbar-thumb);
}


html::-webkit-scrollbar-track{
  background-color: var(--scrollbar-track);
}


html::-webkit-scrollbar-button{
  background-color: var(--scrollbar-button);
 
}



/* FOR MOBILE VIEW */
@media all and (max-width:475px){
  .app{
    max-width: 310px;
    padding: 15px
  }

  h1{
    font-size: 22px;
    margin-left: 10px;
  }

  h2{
    font-size: 20px;
    margin-left: 10px;
  }

  #newtodo{
    width: 250px;
    font-size: 15px;
    padding: 12px;
  }

  #add-task{
    font-size: 26px;
  }

  #add-task:hover{
    font-size: 30px;
  }

  .todo{
    font-size: 17px;
  }

  #todos-list .todo p{
    width: 180px; 
  }

  
}
